PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/alodo?schema=public"
NODE_ENV=production
GEMINI_API_KEY="AIzaSyCtKJWdUVPZ1X-g7oKRNDDxWsRFLY2XjtM"
EVOLUTION_API_URL="https://votre-instance-evolution.com/"
EVOLUTION_API_KEY="votre_cle_api_evolution"
EVOLUTION_INSTANCE_NAME="nom_de_votre_instance"